# Configuration file for the "icann" program

# Configuration for Russ Housley

# The lines in this file need to look like the following
#   (minus the # comment character)
# MirrorDir is the base directory for the mirrored files;
#   the rest are subdirectories where mirrored files go
#   This can start with a "~" to indicate your home directory or
#   use a full path name

MirrorDir = "/Users/housley/LocalMirror"
SSACDir = MirrorDir + "/ssac"
RSSACDir = MirrorDir + "/rssac"
OCTODir = MirrorDir + "/octo"
